        
        * {
            font-family: 'roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
            box-sizing: border-box;
        }

        #section
        {
            border-style: solid;
        }

        #thetable
        {
            background-color: lightblue;
        }       
                
        h3 {
            color: blue;
        }